[submodule "Tools/BrowEdit"]
	path = Tools/BrowEdit
	url = https://github.com/Borf/browedit
[submodule "Tools/BrowEdit3"]
	path = Tools/BrowEdit3
	url = https://github.com/Borf/BrowEdit3
[submodule "Clients/Korangar"]
	path = Clients/Korangar
	url = https://github.com/vE5li/korangar
