[submodule "Tools/BrowEdit"]
	path = Tools/BrowEdit
	url = https://github.com/Borf/browedit
[submodule "Tools/BrowEdit3"]
	path = Tools/BrowEdit3
	url = https://github.com/Borf/BrowEdit3
[submodule "Clients/Korangar"]
	path = Clients/Korangar
	url = https://github.com/vE5li/korangar
[submodule "Clients/roBrowser"]
	path = Clients/roBrowser
	url = https://github.com/MrAntares/roBrowserLegacy
[submodule "Clients/UnityRO"]
	path = Clients/UnityRO
	url = https://github.com/guilhermelhr/unityro
